<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{47.67,-117.435333}</string>
	<key>overlayTopLeftCoord</key>
	<string>{47.68132,-117.4756}</string>
	<key>overlayTopRightCoord</key>
	<string>{47.68128,-117.411817}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{47.654,-117.477363}</string>
	<key>boundary</key>
	<array>
		<string>{77.4313,-128.59890}</string>
	</array>
</dict>
</plist>
